@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Krona+One&family=Patua+One&display=swap');

.card-detail {
    display: block;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.poke-detail {
    padding: 2rem 0 0 2rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 1rem 12rem;

}

.poke-detail img {
    max-width: fit-content;
    width: 20rem;
    min-width: 3rem;
    transition: transform 0.3s ease-in-out;

}

.poke-detail img:hover {
    transform: rotate(12deg) scale(1.3);
}

.stat-bar {
    margin: 1rem;
    max-width: 50vh;
    width: 40vh;
    min-width: 5vh;
    text-transform: uppercase;
    color: #fbf9f9;
    text-shadow: 1px -0.5px 2px red;
    font-size: larger;

}

.skill-container {
    width: 80%;
    background-color: #00000027;
    box-shadow: 1px 1px 5px 1px rgb(162, 126, 126);
    border-radius: 3rem;
    height: 2rem;
    padding-right: 5rem;
}

.skill {
    height: 2rem;
    align-items: center;
    padding-right: 1rem;
    border-radius: 3rem;
    text-align: right;
    color: rgb(249, 249, 249);
    margin: 1rem 0rem;
    text-shadow: -1px 2px 2px rgb(0, 0, 0);
    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.game-index {
    display: inline-block;
    align-items: center;
    justify-content: center;
    max-width: 30vh;
    width: 25vh;
    min-width: fit-content;
    margin-bottom: 5rem;
}

.font-icon {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.font-icon>div {
    display: flex;
    margin: 0.8rem;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    text-align: center;
}

.poke-img-power {

    margin: 1rem 5rem;
    max-width: 50rem;
    color: #c7a40a;
    padding: 2rem;
    font-family: 'Shojumaru', cursive;
    text-shadow: 2px 1px 1px rgb(0, 0, 0);

}

.poke-img-power h1 {
    margin: 0 -1.3rem;
    font-size: x-large;
}

.poke-img-power svg {

    height: 4rem;
    max-width: 12rem;
    width: 3rem;
    min-height: 1rem;

    color: rgb(99, 99, 99);
    filter: drop-shadow(1px 1px 1px rgba(249, 70, 6, 0.669));
}

.move {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    flex-wrap: wrap;
    overflow: auto scroll;
    max-height: 45vh;
    height: 25rem;
    box-shadow: inset 1px 1px 2px 12px rgba(0, 0, 0, 0.341);
    gap: 3rem;
    padding: 5rem;
}

.move::-webkit-scrollbar {
    background-color: transparent;
    border-radius: none;
    box-shadow: inset 1px 1px 12px 1px rgba(73, 73, 73, 0.244);
    margin: 1rem;

}

.move>div {
    background-color: #01010113;
    min-height: fit-content;
    width: 25vh;
    height: 5rem;
    border-radius: 1rem;
    box-shadow: inset -0.4rem -0.4rem 12px 3px #0101014a;
    filter: blur(0.1px);
    text-transform: uppercase;
    color: #f9f5f54a;
    text-shadow: 1px 1px 1px rgba(8, 8, 8, 0.704);
}